*.exe
1_Course/1_Term/Algorithmization_and_Programming/.vscode/*
.idea
*/zashita.cpp
*/zashita.c
*/zashita.exe
*/proba.c
*/proba.cpp
*/proba.exe
1_Course/1_Term/Algorithmization_and_Programming/LR_6
1_Course/2_Term/Algorithmization_and_Programming/Coure_Work/~$_Заварзин_ИИ-б-25-6-о.docx
2_Course/3_Term/Python_Programming/.vscode/settings.json
2_Course/3_Term/Object_Oriented_Programming/.vscode/tasks.json
1_Course/1_Term/Digital_technologies_and_media-security/PR_4/Part_2/~$дание4-2_Заварзин_ИИ-б-25-6-о.docx
2_Course/3_Term/Math_Statistics/lab_01/~$1-Заварзин-ИИб-25-6-о.docx
