*.exe
1_Course/1_Term/Algorithmization_and_Programming/.vscode/*
.idea
*.py
*/zashita.cpp
*/zashita.c
*/zashita.exe
*/proba.c
*/proba.cpp
*/proba.exe
1_Course/1_Term/Algorithmization_and_Programming/LR_6