*.exe
1_Course/1_Term/Algorithmization_and_Programming/.vscode/*
.idea
*.py
*/zashita.cpp
*/zashita.c
*/zashita.exe
*/proba.c
*/proba.cpp
*/proba.exe
1_Course/1_Term/Algorithmization_and_Programming/LR_6
1_Course/2_Term/Algorithmization_and_Programming/Coure_Work/~$_Заварзин_ИИ-б-25-6-о.docx
2_Course/3_Term/Python_Programming/.vscode/settings.json
